body {
  /* Раскомментируйте это, чтобы включить прокрутку и масштабирование
  действие касания: операция;
  */
}

#LogResultDiv {
    color: #fff;
    background: black;
    border: red solid 1px;
}

#logResult {
    color: #fff;
}
